html,
body {
    height: 100%;
    background: #f2f2f2;
}

*,
*:before,
*:after {
    box-sizing: border-box;
}

/* Controls
---------------------------------------------------------------------- */

.controls {
    padding: 16px;
    background: #333;
    font-size: 0.1px;
}

.control {
    position: relative;
    display: inline-block;
    vertical-align: top;
    padding: 10px;
    font-size: 15px;
    height: 35px;
    min-width: 25px;
    background: #444;
    cursor: pointer;
    color: white;
    font-weight: 800;
    transition: background 150ms;
}

.control:hover {
    background: #3f3f3f;
}



/* Container
---------------------------------------------------------------------- */

.container-mix {
    padding: 16px;
    text-align: justify;
    font-size: 0.1px;
}



/* Target Elements
---------------------------------------------------------------------- */

.mix,
.gap {
    display: inline-block;
    vertical-align: top;
}

.mix {
    background: #fff;
    border-top: 8px solid transparent;
    border-radius: 2px;
    margin-bottom: 1.25%;
    position: relative;
}

 
 



.mix,
.gap {
    width: 24%;
}